{% extends '/admin/base.html.twig' %}
{% set route =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))%}
{% set action =path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))| split('/')| last%}
{% set current_path = app.request.get('_route') %}
{% block title %}
	ChatBoxs
{% endblock %}
{% block body %}
	<h1>Chatboxs</h1>
	<div class="container-fluid">

		<div data-controller="base--chatadmin" data-base--chatadmin-reponse-value='{{template_reponse}}' data-base--chatadmin-question-value='{{template_question}}' data-base--chatadmin-cards-value="{{template_cards}}" data-base--chatadmin-csrf-value="{{csrf}}" data-base--chatadmin-card-value="{{template_card}}">
			<div data-base--chatadmin-target="destination"></div>
		</div>
	</div>
{% endblock %}