{#
/**
 * @file
 * Bootstrap v5 with Bootstrap Icons Sorting control implementation.
 *
 * Install Icon Set: https://icons.getbootstrap.com/#install
 * Overview:         https://icons.getbootstrap.com/
 */
#}
<a {% for attr, value in options %} {{ attr }}="{{ value }}" {% endfor %}>
	{% if sorted %}
		{% if direction == 'DESC' %}
			{{ title }}<i class="bi bi-sort-down"></i>
		{% else %}
			{{ title }}<i class="bi bi-sort-up"></i>
		{% endif %}
	{% else %}
		{{ title }}<i class="bi bi-filter-left"></i>
	{% endif %}

</a>