<button type="button" class="btn  btn-lg position-fixed" data-bs-toggle="modal" data-bs-target="#modalPopin" style="left: 10px; bottom: 10px;z-index:5000;background-color:rgba(255, 161, 45, 0.5);">
	<div class="d-flex justify-content-around align-items-center">
		<img src="{{asset('/build/pic-192x192.png'|imagine_filter('icone'))}}" class="img-fluid" id="logopicbleu" alt="logopicbleu" title="logopicbleu"><p class="text-primary ps-2">Picbleu analyse ...</p>
	</div>
</button>

<!-- Modal -->
<div class="modal fade" id="modalPopin" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-modal="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitleId">
					Etude personnalisée
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row" data-turbo="false">
						<form name="popin" method="post" class="row" action="{{ path('app_popin') }}" data-turbo="false">
							<div class="col-6">
								<h2>
									<i class="bi bi-gear text-troisieme me-2"></i>Mon projet</h2>
								<div class="row">
									<div class="col-6 mb-2">
										<select id="popin_typetravaux" name="popin[typetravaux]" class="form-select">
											<option value="Type de travaux" disabled {{app.session.get('popin')['typetravaux'] is defined?:"selected"}}>Type de travaux</option>
											{% set selects = ['installation neuve','remplacement','Réparation','entretien'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['typetravaux'] is defined and app.session.get('popin')['typetravaux'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6 ">
										<select id="popin_typechauffage" name="popin[typechauffage]" class="form-select">
											{% set selects = ['Type de chauffage','gaz de ville','gaz en citerne','fioul','électrique','bois','géothermique','solaire','pellets','autre'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['typechauffage'] is defined and app.session.get('popin')['typechauffage'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6">
										<select id="popin_nbrpieces" name="popin[nbrpieces]" class="form-select">
											{%set selects = ['Nombre de pieces','1','2','3','4','5','+ de 5']%}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['typechauffage'] is defined and app.session.get('popin')['typechauffage'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-4 mb-2"><input type="number" id="popin_surfacetotal" name="popin[surfacetotal]" required="required" class="form-control" placeholder="Surface totale" value="{{app.session.get('popin')['surfacetotal'] is defined ? app.session.get('popin')['surfacetotal']}}">
									</div>
									<div class="col-6 ">
										<select id="popin_modechauffacge" name="popin[modechauffacge]" class="form-select">
											{% set selects = ['Mode de chauffage','gaz de ville','gaz en citerne','fioul','électrique','bois','géothermique','solaire','pellets','autre'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['modechauffacge'] is defined and app.session.get('popin')['modechauffacge'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6 mb-2">
										<select id="popin_chaudiere" name="popin[chaudiere]" class="form-select">
											{% set selects = ['Chaudière','oui','non'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['chaudiere'] is defined and app.session.get('popin')['chaudiere'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-12 mb-2">
										<select id="popin_localchaudiere" name="popin[localchaudiere]" class="form-select">
											{% set selects = ['Local de chaudière','oui','non'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['localchaudiere'] is defined and app.session.get('popin')['localchaudiere'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6 mb-2">
										<select id="popin_debuttravaux" name="popin[debuttravaux]" class="form-select">
											{% set selects = ['Début des travaux','au plus vite','dans 1 mois','dans 2 mois','dans 6 mois','dans 1 an','pas de date fixée'] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['debuttravaux'] is defined and app.session.get('popin')['debuttravaux'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>

									<div class="col-6">
										<select id="popin_objectif" name="popin[objectif]" class="form-select">
											{% set selects = ['Objectif de votre demande','trouver une entreprise disponible','obtenir des devis','Avoir une idée du prix','autre']%}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['objectif'] is defined and app.session.get('popin')['objectif'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>


								</div>
							</div>
							<div class="col-6 border-start border-secondary border-3" style="border-color: #ff8c00 !important;">
								<div class="row">
									<h2>
										<i class="bi bi-person text-troisieme me-2"></i>Mes coordonnées</h2>
									<div class="col-2 mb-2">
										<select id="popin_sexe" name="popin[sexe]" class="form-select">
											{% set selects = ['Sexe','M','Mme','Mlle']%}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['sexe'] is defined and app.session.get('popin')['sexe'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-5">
										<input type="text" id="popin_nom" name="popin[nom]" required="required" {{app.session.get('popin')['nom'] is defined ?"value="~app.session.get('popin')['nom']}} maxlength="255" class="form-control" placeholder="Nom">
									</div>
									<div class="col-5">
										<input type="text" id="popin_prenom" name="popin[prenom]" required="required" maxlength="255" class="form-control" placeholder="Prénom" {{app.session.get('popin')['prenom'] is defined ?"value="~app.session.get('popin')['prenom']}}>
									</div>
									<div class="col-6 mb-2">
										<select id="popin_vousetes" name="popin[vousetes]" class="form-select">
											{% set selects =["Vous êtes ...","particulier","société","commerçant","industriel","profession libérale","syndic de copropriété","promoteur-constructeur","administration","association","architecte","agence immobilière","autre"] %}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['vousetes'] is defined and app.session.get('popin')['vousetes'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6">
										<select id="popin_et" name="popin[et]" class="form-select">
											{% set selects = ['et ...','propriétaire occupant','propriétaire bailleur','futur propriétaire','locataire','futur locataire','administrateur','autre']%}
											{% for sel in selects %}
												<option value="{{sel}}" {{app.session.get('popin')['et'] is defined and app.session.get('popin')['et'] == sel?"selected"}}>
													{{sel}}
												</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-6 mb-2"><input type="number" id="popin_codepostal" name="popin[codepostal]" required="required" step="any" class="form-control" placeholder="Code postal" value="{{app.session.get('popin')['codepostal'] is defined ?app.session.get('popin')['codepostal']}}"></div>
									<div class="col-6"><input type="text" id="popin_ville" name="popin[ville]" required="required" maxlength="255" class="form-control" placeholder="Ville" value="{{app.session.get('popin')['ville'] is defined ?app.session.get('popin')['ville']}}">
									</div>
									<div class="col-6">
										<input type="email" id="popin_email" name="popin[email]" required="required" class="form-control" placeholder="Email" value="{{app.session.get('popin')['email'] is defined ?app.session.get('popin')['email']}}">
									</div>

									<div class="col-6 mb-2">
										<input type="tel" id="popin_telephone" name="popin[telephone]" required="required" data-controller="base--mask" data-base--mask-alias-value="telephone" class="form-control" placeholder="Telephone" value="{{app.session.get('popin')['telephone'] is defined ?app.session.get('popin')['telephone']}}">
									</div>

									<label class="col-form-label col required" for="popin_de">Précisez une heure pour convenir d'un appel téléphonique</label>
									<div class="col">
										<input type="text" id="popin_de" name="popin[de]" required="required" maxlength="255" class="form-control" value="{{app.session.get('popin')['de'] is defined ?app.session.get('popin')['de']}}">
									</div>


								</div>
							</div>
							<div class="col-12">
								<label class="col-form-label col required" for="popin_message">Laisser un message</label>
								<textarea id="popin_message" name="popin[message]" class="form-control"></textarea>
							</div>
						</div>

					</div>
					<div class="row mt-2">
						<div class="col-6">
							<div class="form-check"><input type="checkbox" id="popin_cgu" name="popin[cgu]" required="required" class="form-check-input" value="1" {{app.session.get('popin')['cgu'] is defined and app.session.get('popin')['cgu'] == 1?"checked"}}>
								<label class="form-check-label required" for="popin_cgu">J'accepte les conditions d'utilisation (voir politique de vie privée)</label>
							</div>
						</div>
						<div class="col-6">
							<turbo-frame id="captcha">
								<div class="mb-3 row">
									<div class="col-sm-2">
										<label class="col-form-label col-sm-2 required" for="captcha">
											Captcha
										</label>
									</div>
									<div class="col-sm-10">
										<div class="row">
											<div class="col-md-6 col-12 ">
												<div class=" input-group mb-3 d-flex justify-content-center">
													<img src="{{captcha[0]}}" class="img-fluid border border-1 border-grey" alt="">
													<span class="input-group-text p-0" id="basic-addon1">
														<button type="submit" class="btn btn-outline-primary p-0" name="resetCaptcha" value="reset" data-controller="base--passValidation">
															<i class="bi bi-arrow-clockwise" style="font-size:2rem;"></i>
														</button>
													</span>

												</div>

											</div>

											<div class="col-md-6 col-12 text-center ">
												<input type="text" id="captcha" name="captcha" required="required" maxlength="5" class="form-control" aria-describedby="basic-addon1">
												{% if  app.request.get('captcha') is not empty %}


													{% if app.request.get('captcha')[0]==app.request.get('captcha')[1] %}
														<p class="form-text text-muted" data-turbo="false">
															Recopier le captcha
														</p>
													{% else %}
														<p class="form-text text-danger" data-turbo="false" id="errorcaptcha">
															Merci de réessayer
														</p>
													{% endif %}
												{% endif %}
											</div>
										</div>
										<input type="hidden" name="try" value="{{captcha[1]}}">
									</div>
								</div>
							</turbo-frame>
						</div>
					</div>
				</div>


				<div class="modal-footer">
					<blockquote>Ces informations servent au site Picbleu ou aux entreprises de confiance sélectionnées par Picbleu pour vous contacter et traiter votre demande.</blockquote>

					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
