{% extends '/admin/base.html.twig' %}

{% block title %}
	{{t('Panneau de connexion')}}
{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post" data-turbo="false">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if  app.user %}
			{% include "admin/admin.html.twig" %}
		{% else %}
			<h1 class="h3 mb-3 font-weight-normal">Accès à l'espace membre</h1>
			<label for="inputEmail">{{t('Email')}}</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label for="inputPassword">{{t('Password')}}</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Gardez la connection pendant une semaine
				</label>
			</div>
			<input type="hidden" name="_target_path" value="{{path('app_login')}}">
			<button class="btn btn-lg btn-primary" type="submit">
				Connexion
			</button>
			<a href="{{path('app_forgot_password_request')}}">Réinitialiser mon mot de passe</a>
		{% endif %}
	</form>
{% endblock %}