{% extends '/admin/base.html.twig' %}
{% set route =
path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
{% set action =
path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) | split('/') | last %}
{% block
title %}
	{% if action=='new' %}Création
		{% elseif action=='copy' %}Duplication
		{% elseif action=='edit' %}Edition
	{% endif %}
	Parametres
	{{parametres.id}}
{% endblock %}
{% block body %}
	<input type="hidden" id="TBuploadmax" value="{{ TBuploadmax() }}"/>

	<div class="col-12 text-center">
		<h1>
			{% if action=='new' %}Création
				{% elseif action=='copy' %}Duplication
				{%
		elseif action=='edit' %}Edition
			{% endif %}
			{{TBgetClass(parametres)|lower|slice(0,1) in ['a','e','i','o','u','y'] ? "de l'Parametres" : "du Parametres"}}

			{{parametres.id}}
			{% if "false" !="false" %}
				<span>
					<a href="false/{{parametres.false}}" title="Afficher dans un autre onglet la page" target="_blank">
						<em class="bi bi-display"></em>
					</a>
				</span>
			{% endif %}
			<span
				class="text-right">{#
								<h5>
									taille maxi d'envoie:<span id="TBuploadmax">{{
										TBuploadmax()
									}}</span
									>Mo
								</h5>
								#}
			</span>
		</h1>
	</div>

	<div class="col-12" data-turbo="false">
		{{ form_start(form) }}

		{{ form_row(form.nom) }}


		{{ form_row(form.valeur) }}


		{{ form_row(form.aide) }}


		{{ form_row(form.typenom) }}


		{{ form_row(form.typevaleur) }}


		{{ form_row(form.slug) }}


		<button class="btn btn-primary" id="bouton_submit" type="submit">
			{% if action=='new' %}Créer
				{% else %}Mettre à jour
			{% endif %}
		</button>
		<a href="{{ path('parametres_index') }}">
			<button class="btn btn-secondary" type="button">
				Revenir à la liste
			</button>
		</a>
		<input type="hidden" id="token" value="{{ csrf_token('upload') }}"/>

		{{ form_end(form) }}
	</div>

{% endblock %}