<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>
			Autofact
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<style>{{css}}</style>


	</head>

	<body>
		<div class="container-fluid">
			<table class="col-12 pt-2 pr-1 pl-1 mb-2" style="background-image: url('{{headerback}}');background-size:100% 100%;">
				<tr>
					<td class="col-9">
						<img src="{{ TBimgToBase64(user.logoEntreprise, true) }}" width="200px">

					</td>
					<td class="col-3 ">
						<h1 class="text-right">DEVIS</h1>
						<table class="col-12 pt-2">
							<tr>
								<td class="col-6 text-bold">
									Devis n°
								</td>
								<td class="col-6 text-right">
									{{ devis.id }}
								</td>
							</tr>
							<tr>
								<td class="col-6 text-bold">
									Date
								</td>
								<td class="col-6 text-right">
									{{ devis.updatedAt|date('d/m/Y') }}
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</table>
			<table class="col-12 background-primary line-height-1">
				<thead>
					<tr>
						<th class="col-6 text-bold text-left text-capitalize text-black pt-1 pl-2 pr-2">{{ user.nomEntreprise|capitalize }}</th>
						<th class="col-6 text-bold text-right text-capitalize text-black pt-1 pl-2 pr-2">
							Client</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="p-2 pt-0 pb-0 mb-0">
							{% if client.entreprise %}
								<br>
							{% endif %}
							<p>{{user.getNom|capitalize~ ' ' ~ user.getPrenom|capitalize}}</p>
							<p>
								{{TBIconFromBootstrap('house','#6e6e6e',12)|raw}}
								{{user.adresse}}
							</p>
							<p>
								{{TBIconFromBootstrap('envelope','#6e6e6e',12)|raw}}
								{{user.email}}
							</p>
							<p>
								{{TBIconFromBootstrap('vr','#6e6e6e',12)|raw}}
								{{user.siretentreprise}}
							</p>
						</td>
						<td class="p-2 pt-0 text-right pb-0 mb-0">
							{% if client.entreprise %}
								<p>{{'Entreprise'~ client.nomEntreprise|capitalize }}</p>
							{% endif %}

							<p>{{client.getNom|capitalize~ ' ' ~ client.getPrenom|capitalize}}</p>
							<p>
								{{client.adresse}}
								{{TBIconFromBootstrap('house','#6e6e6e',12)|raw}}
							</p>
							<p>
								{{client.email}}
								{{TBIconFromBootstrap('envelope','#6e6e6e',12)|raw}}
							</p>
							{% if client.siret %}
								<p>
									{{client.siret}}{{TBIconFromBootstrap('vr','#6e6e6e',12)|raw}}
								</p>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
			<table class="col-12 pt-1">
				<tr>
					<td class="col-6 text-bold">
						Date d'émission:
					</td>
					<td class="col-6 text-right text-bold">
						Validité du devis
					</td>
				</tr>
				<tr>
					<td class="col-6 ">
						{{"now"|date('d/m/Y')}}
					</td>
					<td class="col-6 text-right">{{ "now"|date_modify("+5 days")|date('d/m/Y') }}
					</td>
				</tr>
			</table>
			<table class="col-12 mt-2 p-0">
				<thead>
					<tr>
						<th class="col-9 text-bold text-left text-capitalize text-black ">Description</th>
						<th class="col-1 text-bold text-center text-capitalize text-black ">Quantité</th>
						<th class="col-1 text-bold text-center text-capitalize text-black ">Prix unitaire</th>
						<th class="col-1 text-bold text-center text-capitalize text-black ">Total HT</th>
					</tr>
				</thead>
				<tbody class="">

					{% for item in devis.items %}
						{% set titre = true %}
						{% if loop.index0 and (item.titre==extitre or item.titre=='') %}
							{% set titre = false %}
						{% endif %}


						<tr>
							<td class="">
								{% if titre %}
									<h3 class="text-capitalize border-bottom col-12">{{item.titre|capitalize}}</h3>
								{% else %}
									&nbsp;
								{% endif %}
								{{ item.description }}
							</td>
							<td class="text-center ">
								{{ item.quantite }}
							</td>
							<td class="text-center">
								{{ item.prix }}
							</td>
							<td class="text-center">
								{{ item.prix*item.quantite }}
							</td>
							{% set extitre = item.titre %}
						</tr>
					{% endfor %}

				</tbody>
			</div>
		</body>
	</body>
</html>
